[Unit]
Description=OP-FW Replay
After=multi-user.target
StartLimitBurst=10
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RuntimeMaxSec=8h
RestartSec=3
User=root
WorkingDirectory=/var/replay
ExecStart=/var/replay/replay
StandardOutput=append:/var/log/replay.log
StandardError=append:/var/log/replay.log

[Install]
WantedBy=multi-user.target
